<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera permission for barcode scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Network state to allow sync manager to detect connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<application
        android:name=".App"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <!-- ML Kit Text Recognition - Download models at install for offline use -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="text" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".FirestoreTestActivity"
            android:exported="false" />
        <activity
            android:name=".DealerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AgentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LicenseActivationActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OperatorManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OperatorActionsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProcessTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CashRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddCreditsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BuyCreditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BalanceAdjustmentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CommissionConfigurationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CommissionReportActivity"
            android:exported="false" />
    </application>

</manifest>